[Unit]
Description=Kafka Consumer 1 Service
After=network.target

[Service]
ExecStart=/usr/bin/php /home/sujal/kafka-php-demo/consumer1.php
WorkingDirectory=/home/sujal/kafka-php-demo
Restart=always
StandardOutput=append:/home/sujal/kafka-php-demo/consumer1.log
StandardError=append:/home/sujal/kafka-php-demo/consumer1-error.log

[Install]
WantedBy=multi-user.target

